@charset "utf-8";
.wrap{position: relative; overflow: hidden; width: 100%;}
/* Sections */
.intro-section {
  height: 700px;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.videolist-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #f5f5f5;
}
.services-section {
  height: auto;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.notice-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #f5f5f5;
}

.panel_content{}
.header_title{font-size: 3.4rem; font-size: 34px;}
.content_title{font-size: 2.4rem; font-size: 24px; font-weight: 700; padding-bottom: 20px;}
.content-text{font-size: 2rem; font-size: 20px; font-weight: 400; line-height: 1.6; padding-bottom: 40px;}
.content_info{position: relative; text-align:left; margin: 100px 0; z-index: 100;}
.info-area{position: relative; z-index: 100;}
.left_img, .right_img{position: relative; overflow: hidden; margin-top: 20px;}
.intro-section .header_title{text-align: left;}
.intro-section .btn-box{text-align: left; margin: 40px 0; padding-left: 40px;}
.intro-section .left_text{padding:60px 0;}
/* .intro-section .bg_01{background-image: url(../images/bg_figure.png); background-repeat: no-repeat; background-position: 650px 10px; background-attachment: fixed;} */
.intro-section .bg_01{background-image: url(../images/bg_figure.png); background-repeat: no-repeat; display:inline-block; position: absolute; top: 0; left: 35%; width: 100%; height: 700px;}
.videolist-section .info-area .info-text{font-size: 1.6rem; font-size: 16px; font-weight:600; margin-bottom:15px;}
.videolist-section .info-area .info-text-s{font-size: 1.3rem; font-size: 13px;}
.services-section .bg_02{background-image: url(../images/bg_figure.png); background-repeat: no-repeat; display:inline-block; position: absolute; top: 120%; left: -890px; width: 1373px; height: 1373px;}
.services-section .left_img, .services-section .right_img{width: 480px; margin-top: 0;}
.services-section .right_text{margin: 20px 0; padding-left: 40px;}
.services-section .btn-group a.btn{padding:0;}
.services-section.services-4k{padding-top: 125px;}
.services-section.services-4k.inner-bg{background-image: url(../images/img_service_03-02.png); background-repeat: no-repeat; background-position:center center; background-size: cover; width: 100%;}
.services-section.services-4k .left_img{width: 500px;}
.services-section.services-4k .content-text .info-text-s, .services-section.services-mp3 .content-text .info-text-s{padding-top:15px; font-size:13px; line-height: 1.4;}
.services-section.services-mp3{background: #f5f5f5;}
.services-section.services-mp3 .left_text{position: relative; top:40px}
.services-section.services-mp3 .right_img{width: 660px;}

/* Video List */
.video-list_area{margin-top:60px; margin-bottom:60px;}
.video-list{display: block;position: relative; margin: 0; margin-right: -0.5%; margin-left: -0.5%; padding: 0; overflow: hidden;}
.video-list .video-items{position: relative; padding-right: 0.5%; padding-left: 0.5%; overflow: hidden;}
.video-items{height: auto; margin-bottom: 15px;}
.video-items .video-item{display: inline-block; position: relative; width: 100%; vertical-align: top; letter-spacing: 0;}
.video-items .video-item .list-thumbnail{position: relative; float: left; width: 100%;}
.video-items .video-item .list-video-info{display: inline-block; position: relative; overflow: hidden; width: 100%; margin-top: 0;}
.video-items .video-item .list-video-info .video-title{display: block; height: 3.2rem; overflow: hidden; color: #444; font-size: 1.3rem; font-weight: 400; line-height: 1.6rem; text-align: left; margin: 10px 0;}
.video-items .video-item .list-video-info .video-metadata{margin: 5px 0 5px;}
/* video-thumbnail */
.thumbnail-img{display: inline-block; background: #fff;}
.video-thumbnail{display: block; position: relative; height: 0; padding: 0; overflow: hidden; background: #000; text-align: center;}
.video-thumbnail-16by9{padding-bottom: 56.25%;}
.video-thumbnail-4by3{padding-bottom: 75%;}
.video-thumbnail a, .thumbnail-video{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; background: #000;}
.video-thumbnail .thumbnail-item{display: initial; max-width: 100%; height: 100%;}
.play-time{position: absolute; z-index: 1; right: 5px; bottom: 5px; margin: 0 !important; padding: 0 4px; background: #000; color: #fff; font-size: 11px; opacity: 0.80; filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.80;}

.contact-form .form-control{height: 43px; font-size:13px; color: #333; border:1px solid #ddd; border-radius: 0; padding:6px 12px; box-shadow: none;}
.form-select{position: relative; overflow: hidden;}
.form-select:before{
    content: '';
    position: absolute;
    top: 12px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.4em solid #fff;
    transition: all ease 0.25s;
    z-index: 10;
}	
.textarea-style{padding: 10px 10px; resize:none;}
.footer-section{text-align: center; padding:40px 0;}
.footer-section .policy-info a, .footer-section .office-info, .footer-section .copyright{color:#666; font-size:1.1rem; font-size:11px; line-height: 1.6;}
.footer-section .policy-info{padding-bottom: 8px;}
.footer-section .copyright{position: relative; padding:15px 0;}

