@font-face {
    font-family: 'DX';
    src: url('../resource/font/DXPnM.eot');
    src: url('../resource/font/DXPnM.eot?#iefix') format('embedded-opentype'),
        url('../resource/font/DXPnM.woff2') format('woff2'),
        url('../resource/font/DXPnM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
